<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineMusicStore</display-name>
		<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.sliit.LoginController</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>

    <servlet>
    <description></description>
        <display-name>GuestLoginController</display-name>
		<servlet-name>GuestLoginController</servlet-name>
        <servlet-class>com.sliit.GuestLoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GuestLoginController</servlet-name>
		<url-pattern>/GuestLoginController</url-pattern>
    </servlet-mapping>

    <servlet>
    <description></description>
        <display-name>UserSearch</display-name>
		<servlet-name>UserSearch</servlet-name>
        <servlet-class>com.sliit.UserSearch</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserSearch</servlet-name>
		<url-pattern>/UserSearch</url-pattern>
    </servlet-mapping>

    <servlet>
    <description></description>
        <display-name>UpdateUsers</display-name>
		<servlet-name>UpdateUsers</servlet-name>
        <servlet-class>com.sliit.UpdateUsers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUsers</servlet-name>
		<url-pattern>/UpdateUsers</url-pattern>
    </servlet-mapping>

    <servlet>
    <description></description>
        <display-name>RemoveUsers</display-name>
		<servlet-name>RemoveUsers</servlet-name>
        <servlet-class>com.sliit.RemoveUsers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUsers</servlet-name>
		<url-pattern>/RemoveUsers</url-pattern>
    </servlet-mapping>

</web-app>
