@charset "UTF-8";

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
.maincontainer{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
<<<<<<< HEAD
=======
=======
.topnav{
    background-color: black;
>>>>>>> 3a732b77184f245fdb915a58589156206e3a5c2d
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
}

.topnav .topnav_left{
    margin-right: 30%;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
.main-row1{
    width: 100%;
    margin-bottom: 7%;
}

.main-row2{
    width: 100%;
}

#left-btn{
    width: 10%;
    text-align: center;
    float: left;
    margin-left: 15%;
    background-color: red;
    padding: 5%;
    color: black;
}

#left-btn:hover{
    background-color: lightgrey;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}

#middle-btn{
    width: 10%;
    text-align: center;
    float: left;
    margin-left: 5%;
    background-color: blue;
    padding: 5%;
    color: black;
}

#middle-btn:hover{
    background-color: lightgrey;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}


#right-btn{
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: 15%;
    background-color: green;
    padding: 5%;
    color: black;
}

#right-btn:hover{
    background-color: lightgrey;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .topnav .topnav_left{
        margin-right: 13%;
        margin-left: 10%;
    }

}


<<<<<<< HEAD
=======
=======
>>>>>>> 3a732b77184f245fdb915a58589156206e3a5c2d
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
@media screen and (max-width: 700px) {

.topnav.responsive .admin{
    display: none;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
#left-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    #middle-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    #right-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .maincontainer{
        height: 800px;
    }
    

}
<<<<<<< HEAD
=======
=======
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}
>>>>>>> 3a732b77184f245fdb915a58589156206e3a5c2d
>>>>>>> 03077ad586be26d6fa9d0ea6801ad6a7ed818270
