@charset "UTF-8";

body{
	background-color: #DCDCDC;
}

#mainContainer{
	padding-top: 115px;
}

h1{
	font-size: 50px;
}

.topnav .topnav_left{
    margin-right: 30%;
}

.main-row1{
	margin-top: 2%;
    width: 100%;
    margin-bottom: 7%;
}

.main-row2{
    width: 100%;
    margin-bottom: 4%;
}

#left-btn{
    width: 10%;
    text-align: center;
    float: left;
    margin-left: 15%;
    background-color: tomato;
    padding: 4%;
    font-size: 20px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#left-btn:hover{
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

#middle-btn{
    width: 10%;
    text-align: center;
    float: left;
    margin-left: 8%;
    background-color: tomato;
    padding: 4%;
    font-size: 20px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#middle-btn:hover{
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}


#right-btn{
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: 15%;
    background-color: tomato;
    padding: 4%;
    font-size: 20px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#right-btn:hover{
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .topnav .topnav_left{
        margin-right: 13%;
        margin-left: 10%;
    }

}


@media screen and (max-width: 700px) {

.topnav.responsive .admin{
    display: none;
}

#left-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    #middle-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    #right-btn{
        float: left;
        width: 50%;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .maincontainer{
        height: 800px;
    }
    

}
