@charset "UTF-8";

#mainContainer {
	background-image: url("../images/cover/cover7.png");
}

#login {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, .7);
	padding-bottom: 5%;
	color: white;
	border-radius: 20px 20px 20px 20px;
}

#login .loginTop {
	margin-bottom: 15%;
	background-color: #FF6347;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 20px 20px 0 0;
}

.loginTop label {
	color: white;
	font-size: 35px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 35px;
}

#login input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
}

/* Place Holder CSS */
::-webkit-input-placeholder {
	opacity: 0.5;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:-moz-placeholder {
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

::-moz-placeholder {
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:-ms-input-placeholder {
	opacity: 0.5;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
	opacity: 0.75;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:hover:-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:hover::-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:hover:-ms-input-placeholder {
	opacity: 0.75;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:focus:-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:focus::-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

#login input[type=text]::placeholder {
	color: black;
	font-size: 15px;
}

#login input[type=password]::placeholder {
	color: black;
	font-size: 15px;
}

#login input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
}

.loginbtn {
	float: right;
	width: 30%;
	text-align: center;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	padding: 10px;
	background-color: tomato;
}

#login a {
	text-decoration: none;
}

.loginbtn:hover {
	background-color: white;
	color: black;
	transition-duration: 0.3s;
	cursor: pointer;
}

.divBtn {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	color: white;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.divBtn:hover {
	background-color: tomato;
	color: black;
	transition-duration: 0.3s;
}

#mainContainer .errorMessage {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-size: 20px;
	color: red;
}

@media screen and (max-width: 992px) {
	.loginbtn {
		width: 30%;
	}
	#login {
		width: 60%;
		padding: 3% 5% 5% 5%;
		color: white;
	}
	#mainContainer .errorMessage {
		font-size: 15px;
	}
}

@media screen and (max-width: 1200px) {
	#login {
		width: 50%;
	}
}

@media screen and (max-width: 700px) {
	.loginbtn {
		width: 30%;
	}
	#login {
		width: 80%;
	}
	.footercontainer {
		height: 600px;
	}
	#mainContainer {
		padding-top: 0px;
		padding-bottom: 100px;
	}
}